<div class="gd-row">
    <div class="gd-columns gd-quarter">
        <div class="block">3 Columns</div>
    </div>
    <div class="gd-columns gd-quarter">
        <div class="block">3 Columns</div>
    </div>
    <div class="gd-columns gd-quarter">
        <div class="block">3 Columns</div>
    </div>
    <div class="gd-columns gd-quarter">
        <div class="block">3 Columns</div>
    </div>
</div>
<div class="gd-row">
    <div class="gd-columns gd-third">
        <div class="block">4 Columns</div>
    </div>
    <div class="gd-columns gd-third">
        <div class="block">4 Columns</div>
    </div>
    <div class="gd-columns gd-third">
        <div class="block">4 Columns</div>
    </div>
</div>
<div class="gd-row">
    <div class="gd-columns gd-5of12">
        <div class="block">5 Columns</div>
    </div>
    <div class="gd-columns gd-7of12">
        <div class="block">7 Columns</div>
    </div>
</div>
<div class="gd-row">
    <div class="gd-columns gd-half">
        <div class="block">6 Columns</div>
    </div>
    <div class="gd-columns gd-half">
        <div class="block">6 Columns</div>
    </div>
</div>
<div class="gd-row">
    <div class="gd-columns gd-two-thirds">
        <div class="block">8 Columns</div>
    </div>
    <div class="gd-columns gd-third">
        <div class="block">4 Columns</div>
    </div>
</div>
<div class="gd-row">
    <div class="gd-columns gd-three-quarters">
        <div class="block">9 Columns</div>
    </div>
    <div class="gd-columns gd-quarter">
        <div class="block">3 Columns</div>
    </div>
</div>
<div class="gd-row">
    <div class="gd-columns gd-10of12">
        <div class="block">9 Columns</div>
    </div>
    <div class="gd-columns gd-2of12">
        <div class="block">3 Columns</div>
    </div>
</div>
