<div class="gt-row">
    <div class="gt-columns gt-third">
        <div class="block">3 Columns</div>
    </div>
    <div class="gt-columns gt-third">
        <div class="block">3 Columns</div>
    </div>
    <div class="gt-columns gt-third">
        <div class="block">3 Columns</div>
    </div>
</div>
<div class="gt-row">
    <div class="gt-columns gt-4of9">
        <div class="block">4 Columns</div>
    </div>
    <div class="gt-columns gt-5of9">
        <div class="block">5 Columns</div>
    </div>
</div>
<div class="gt-row">
    <div class="gt-columns gt-half">
        <div class="block">Half</div>
    </div>
    <div class="gt-columns gt-half">
        <div class="block">Half</div>
    </div>
</div>
<div class="gt-row">
    <div class="gt-columns gt-two-thirds">
        <div class="block">6 Columns</div>
    </div>
    <div class="gt-columns gt-third">
        <div class="block">3 Columns</div>
    </div>
</div>
<div class="gt-row">
    <div class="gt-columns gt-7of9">
        <div class="block">7 Columns</div>
    </div>
    <div class="gt-columns gt-2of9">
        <div class="block">2 Columns</div>
    </div>
</div>
