<ul class="media-grid gm-row gt-row gd-row">
    <li class="object gm-columns gm-half gt-columns gt-third gd-columns gd-third">
        <img src="http://placehold.it/400" />
        <p class="petite-text mts">Alderaan is peaceful. We have no weapons.</p>
    </li>
    <li class="object gm-columns gm-half gt-columns gt-third gd-columns gd-third">
        <img src="http://placehold.it/400" />
    </li>
    <li class="object gm-columns gm-half gt-columns gt-third gd-columns gd-third">
        <img src="http://placehold.it/400" />
        <p class="petite-text mts">Alderaan is peaceful. We have no weapons.</p>
    </li>
    <li class="object gm-columns gm-half gt-columns gt-third gd-columns gd-third">
        <img src="http://placehold.it/400" />
    </li>
    <li class="object gm-columns gm-half gt-columns gt-third gd-columns gd-third">
        <img src="http://placehold.it/400" />
        <p class="petite-text mts">Alderaan is peaceful. We have no weapons.</p>
    </li>
    <li class="object gm-columns gm-half gt-columns gt-third gd-columns gd-third">
        <img src="http://placehold.it/400" />
    </li>
    <li class="object gm-columns gm-half gt-columns gt-third gd-columns gd-third">
        <img src="http://placehold.it/400" />
    </li>
</ul>